{
  "extends": "airbnb",
  "rules": {
    "global-require": "off",
    "linebreak-style": "off",
    "comma-dangle": [
      "error",
      "never"
    ],
    "arrow-parens": "off",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": [
      "warn",
      {
        "aspects": [
          "invalidHref"
        ]
      }
    ],
    "padded-blocks": "off",
    "no-undef": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": [
      "off",
      {
        "devDependencies": true,
        "optionalDependencies": true,
        "peerDependencies": true
      }
    ],
    "react/jsx-filename-extension": "off",
    "react/jsx-curly-spacing": [
      "error",
      {
        "when": "always"
      }
    ],
    "react/jsx-tag-spacing": "off",
    "react/forbid-prop-types": "off"
  }
}